.header {
  @apply flex justify-end p-1;
}

.header-light {
  @apply transition duration-100 ease-in;

  color: #393646;
}

.header-dark {
  @apply transition duration-100 ease-in;

  color: #F4EEE0;
}

.header-icon {
  @apply w-12 sm:w-14 md:w-16 lg:w-20 hover:cursor-pointer;
}