.light {
  @apply transition ease-in duration-100;

  background-color: #F4EEE0;
  color: #393646;
}

.dark {
  @apply transition ease-in duration-100;

  background-color: #4F4557;
  color: #F4EEE0;
}
